{% extends "layout.njk" %}

{% block contain %}
	<h2>Profil</h2>

<div id="formSign">
        <p class="bg-danger" id="danger"></p>
        <form action="/users/update" method="PUT" id="formUpdate">
            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Name:</label>
                <div class="col-10">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Your new name here" />
                </div>
            </div>
           
            <div class="form-group row">
                <label for="password" class="col-2 col-form-label">New password:</label>
                <div class="col-10">
                    <input type="password" name="password" id="password" class="form-control" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$" />
                </div>
            </div>
            <div class="form-group row">
                <label for="confirm_password" class="col-2 col-form-label">Confirm new password:</label>
                <div class="col-10">
                    <input type="password" name="confirm_password" id="confirm_password" class="form-control" />
                </div>
            </div>
            
            <div class="form-group row">
                <div class="center">
                    <input type="submit" value="Update" class="btn btn-primary btn-lg btn-block" />
                </div>
            </div>
            
        </form>
    </div>
    <script src="../js/profil.js"></script>
{% endblock %}
